@import 'colors';

.button{
    border-radius: 50%;
    outline:none;
    width: 10em;
    height: 10em;
    background-color: $color-white;
    text-align: center;
}
.nice{
    background-color:$stepper-nice;

}
.great{
    background-color: $stepper-great;

}
.excellent{
    background-color:$stepper-excellent;
}