@import 'colors';

.label {
  font-size: medium;
  text-transform: uppercase;

}

.input {
  width: 100%;
  font-size: 1.5em;
  border-radius: 0;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  padding: 5px;

  border: solid 1px $color-neutral-light;
  &.highlighted {
    font-weight: 600;
  }
}

.input::placeholder {
  padding-left: 10px;
}

.content{
  display: flex;
  flex-direction: column;
}

.toggle{
  margin-top: 0.5em;
}