@import 'colors';

.label {
  font-size: small;
}

.input {
  width: 100%;
  font-size: 1.5em;
  border-radius: 0;
  margin-top: 0.25em;
  border: solid 1px $color-neutral-light;
  &.highlighted {
    font-weight: 600;
  }
}