@import 'variables';
@import 'colors';

.root{
  margin-right: 2rem;
}

.healthbar {
  height: 0.5rem;
  width: 7rem;
  background-color: $color-neutral-light;
  border: solid $color-neutral-dark 1px;
  margin: 0 auto 1rem auto;
  @include md {
    height: 1rem;
    width: 10rem;
  }
}

.health {
  height: 100%;
}

@keyframes faFast {
  44% { transform: translateX(-1.2rem); }
  100% { transform: translateX(0); }
}
@keyframes fa {
  44% { transform: translateX(-2rem); }
  100% { transform: translateX(0); }
}
@keyframes faBack {
  44% { transform: translateX(2rem); }
  100% { transform: translateX(0); }
}
@keyframes faFastBack {
  44% { transform: translateX(1.2rem); }
  100% { transform: translateX(0); }
}
@keyframes sw {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

.char {
  display: block;
  margin: auto;
  transition: transform 200ms;
}  

.imgcontainer{
  transform: scale(0.9);
  &.back{
    transform: scale(1.1);
  }
  @include md() {
    padding-top: 1em;
    transform: scale(1.4);
    &.back{
      transform: scale(1.6);
    }
  }
}
.faint500 {
  filter: grayscale(1);
}
.fa500 {
  animation: faFast 300ms ease-out 1;
}
.fa1000 {
  animation: fa 800ms ease-out 1;
}
.fa1500 {
  animation: fa 1300ms ease-out 1;
}
.fa2000 {
  animation: fa 1800ms ease-out 1;
}
.fa2500 {
  animation: fa 2300ms ease-out 1;
}
.sw500 {
  animation: sw 300ms ease-out 1;
}
.back {
  &.fa500 {
    animation: faFastBack 300ms ease-out 1;
  }
  &.fa1000 {
    animation: faBack 800ms ease-out 1;
  }
  &.fa1500 {
    animation: faBack 1300ms ease-out 1;
  }
  &.fa2000 {
    animation: faBack 1800ms ease-out 1;
  }
  &.fa2500 {
    animation: faBack 2300ms ease-out 1;
  }
}  