@import 'variables';
@import 'colors';

.root{
  margin-right: 2rem;
}

.healthbar {
  height: 0.5rem;
  width: 7rem;
  background-color: $color-neutral-light;
  border: solid $color-neutral-dark 1px;
  margin: 0 auto 1rem auto;
  @include md {
    height: 1rem;
    width: 10rem;
  }
}

.health {
  height: 100%;
}

.char {
  display: block;
  margin: auto;
  //Animations
  transition: transform 200ms;
  &.prime {
    transform: translateX(2rem);
  }
  &.attack {
    transform: translateX(-2rem);
  }
  &.charge {
    transform: translateY(-0.5rem);
  }
  &.switch {
    transform: scale(0.1);
  }

  &.back {
    &.prime {
      transform: translateX(-2rem);
    }
    &.attack {
      transform: translateX(2rem);
    }
  }
  
}

.imgcontainer{
  transform: scale(1.1);
  &.back{
    transform: scale(1.3);
  }
  margin-top: 3rem;
  margin-bottom: 3rem;
}