@import 'colors';
@import 'variables';

.root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 99990;
    background-color:$color-white;
    opacity: 1 !important;
    @include md(){
        width: 90vw;
        height: 80vh;
        top:10vh;
        left:5vw;
    }
    width: 95vw;
    height: 100%;
    top: 2vh;
    left: 2.5vw;
    overflow-y:scroll;
    @include md(){
        overflow:hidden;
    }
}

.title {
    font-size: xxx-large;
    font-weight: bold;
    margin: 0.5em;
}

.modal {
    background-color: $color-white;
    overflow: hidden;
}

.body {
    padding: 1em;
    height: inherit;
}

.head{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.button{
    margin:1em;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include md(){
        flex-direction: row;
    }
}

.statistics{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    @include md(){
    margin-top: 5em;
    }
    margin: 1em;
    
}

.details{
    font-weight: bold;
}