@import 'variables';
@import 'colors';

.errormessage {
    color: $color-error
}
.actions {
    text-align: center;
    margin-top: 1em;
    button{
        margin-right: 1em;
    }
    button:last-of-type{
        margin-right: 0;
    }
}

.game {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 1px $color-neutral-light;
  padding: 1em 0;
  @include md() {
    padding: 0;
  }
}