.root {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;

  &.modal {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}