//General
$color-brand-primary: #68BFF5;
$color-brand-secondary: #30E8E8;
$color-brand-negative: #FCAC89;
$color-dark: black;
$color-white: white;

//UI
$color-neutral-light: #EFEFEF;
$color-neutral-dark: #707070;
$color-overlay: rgba(#D0D0D0, 0.8);
$color-overlay-disabled: rgba(#B7B7B7, 0.2);

//Health
$color-health-max: #65E5C2;
$color-health-healthy: #5EDB89;
$color-health-weak: #E8F276;
$color-health-critical: #FF3100;
