//General
$color-brand-primary: #68BFF5;
$color-brand-secondary: #30E8E8;
$color-brand-negative: #FCAC89;
$color-brand-positive: #04DC74;
$color-dark: black;
$color-white: white;
//UI
$color-neutral-light: #EFEFEF;
$color-neutral-dark: #707070;
$color-overlay: rgba(#D0D0D0, 0.8);
$color-overlay-disabled: rgba(#B7B7B7, 0.2);
$color-header: #158cba;
$color-button-disabled: #89bfe0;
$color-error: #ff0000;
//Pokemon Type Colors
$color-normal-light: #C6C6A7;
$color-fighting-light: #D67873;
$color-flying-light: #C6B7F5;
$color-poison-light: #C183C1;
$color-ground-light: #EBD69D;
$color-rock-light: #D1C17D;
$color-bug-light: #C6D16E;
$color-ghost-light: #A292BC;
$color-steel-light: #D1D1E0;
$color-water-light: #9DB7F5;
$color-fire-light: #F5AC78;
$color-grass-light: #A7DB8D;
$color-electric-light: #FAE078;
$color-psychic-light: #FA92B2;
$color-ice-light: #BCE6E6;
$color-dragon-light: #A27DFA;
$color-fairy-light: #F4BDC9;
$color-dark-light: #A29288;
$color-normal: #A8A878;
$color-fighting: #C03028;
$color-flying: #A890F0;
$color-poison: #A040A0;
$color-ground: #E0C068;
$color-rock: #B8A038;
$color-bug: #A8B820;
$color-ghost: #705898;
$color-steel: #B8B8D0;
$color-water: #6890F0;
$color-fire: #F08030;
$color-grass: #78C850;
$color-electric: #F8D030;
$color-psychic: #F85888;
$color-ice: #98D8D8;
$color-dragon: #7038F8;
$color-fairy: #EE99AC;
$color-dark: #705848;
//Stepper
$stepper-nice: #94e0a2;
$stepper-great:#ebfa96;
$stepper-excellent :#f75e5e;