@import 'colors';
@import 'variables';

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  src: url('../../assets/fonts/GraphikBlack.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  src: url('../../assets/fonts/GraphikBold.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: url('../../assets/fonts/GraphikMedium.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: url('../../assets/fonts/GraphikRegular.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: url('../../assets/fonts/GraphikSemibold.otf') format('opentype');
}

html {
  font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

h1 {
  font-weight: 600;
}

.btn {
  width: 8rem;
  padding: 0.4rem 0;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  @include md {
    font-size: 1.4rem;
    width: 10rem;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    cursor: default;
  }

  &.btn-primary {
    font-size: 1.4rem;
    width: 10rem;
    background-color: $color-brand-primary;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba($color: $color-dark, $alpha: .15);
    &:hover {
      background-color: darken($color-brand-primary, 10%);
    }
    &:disabled {
      background-color: $color-neutral-light;
      box-shadow: none;
    }
  }

  &.btn-secondary {
    background-color: $color-brand-secondary;
    &:hover {
      background-color: darken($color-brand-secondary, 10%);
    }
  }

  &.btn-negative {
    background-color: $color-brand-negative;
    &:hover {
      background-color: darken($color-brand-negative, 10%);
    }
  }
}

img {
  user-select:none;
}

.no-click {
  pointer-events: none;
}