@import 'colors';
@import 'variables';

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  src: url('../../assets/fonts/GraphikBlack.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  src: url('../../assets/fonts/GraphikBold.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: url('../../assets/fonts/GraphikMedium.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: url('../../assets/fonts/GraphikRegular.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: url('../../assets/fonts/GraphikSemibold.otf') format('opentype');
}

html {
  font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
  * {
    box-sizing: border-box;
  }
}

h1 {
  font-weight: 600;
}

.btn {
  width: 8rem;
  padding: 0.4rem 0;
  border-radius: $border-radius;
  border: none;
  @include md {
    font-size: 1.4rem;
    width: 10rem;
  }

  &.btn-primary {
    font-size: 1.4rem;
    width: 10rem;
    background-color: $color-brand-primary;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba($color: $color-dark, $alpha: .15);
  }

  &.btn-secondary {
    background-color: $color-brand-secondary;
  }

  &.btn-negative {
    background-color: $color-brand-negative;
  }
}