@import 'colors';
.root {
    display: flex;
    align-items: center;
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $color-overlay-disabled solid;
    padding: 0.5em 0;
}

.status {
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    margin-right: 0.5em;
    background-color: $color-overlay;
    &.online {
        background-color: $color-brand-positive;
    }
}