@import 'colors';
@import 'variables';
.modal {
    width: 100%;
    height: 100%;
    max-width: $xl;
    max-height: 90vh;
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-bottom: 2.2em;
}

.inputWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 100%;
}

.button {
    background-color: $color-brand-primary;
    border: none;
    width: 8em;
    margin-top: 6px;
    height: 2.2em;
    font-size: large;
    &:hover {
        background-color: darken($color-brand-primary, 10%);
    }
}