@import 'colors';
@import 'variables';

.root {
  @include bg;
}

.content {
  position: relative;
  z-index: 1;
  padding: 1rem 0;
}

.statuses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}