@import 'colors';
@import 'variables';

.root {
  @include bg;
  height: 100vh;
  overflow: hidden;
}

.content {
  @include content;
  height: 100%;
}

.nav {
  padding: 0 0.25rem 0.25rem 0.25rem;
  @include md {
    padding: 0 2rem;
  }
}

.statuses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
  padding: 0 0.25rem;
  div {
    font-size: 1rem;
  }
  @include md {
    padding: 0 2rem;
    div {
      font-size: 1.2rem;
    }
  }
}

.timer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  strong {
    margin-right: 0.25rem;
  }
}

.message {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}
