.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.string{
    margin: 1em;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons *{
    margin: 1em;
    text-align: center;
    
}