@import 'variables';
@import 'colors';

.healthbar {
  height: 0.5rem;
  width: 7rem;
  background-color: $color-neutral-light;
  border: solid $color-neutral-dark 1px;
  margin: 0 auto 1rem auto;
  @include md {
    height: 1rem;
    width: 10rem;
  }
}

.health {
  height: 100%;
}

.char {
  height: 15vh;
  width: 15vh;
  object-fit: contain;

  //Animations
  transition: transform 200ms;
  &.prime {
    transform: translateX(2rem);
  }
  &.attack {
    transform: translateX(-2rem);
  }
  &.charge {
    transform: translateY(-0.5rem);
  }
  &.switch {
    transform: scale(0.1);
  }

  &.back {
    height: 20vh;
    width: 20vh;
    &.prime {
      transform: translateX(-2rem);
    }
    &.attack {
      transform: translateX(2rem);
    }
  }
  @include md {
    height: 10rem;
    width: 10rem;
    &.back {
      height: 13rem;
      width: 13rem;
    }
  }
}

//add color variables for each type
.fire{
  background: red; 
}
.grass{
  background: green;
}
.chargeButton{
  width: 5rem;
  height: 5rem;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 1rem;
}
.chargedButtons{
  display:flex;
  flex-direction: row;
}
.label{
  display:flex;
  flex-direction: row;
  font-size: 10px;
}
.chargeGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
