@import 'colors';
@import 'variables';

.header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: $color-header;
    min-height: 4em;
}

.title{
    color: $color-white;
    font-size: 1.2em;
    white-space: nowrap;
    @include md() {
        font-size: 2em;
    }
}