@import 'colors';

.btns {
  display: flex;
  justify-content: space-between;
}

.members {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  overflow-x: scroll;
}

.member {
  margin-right: 1em;
  width: 4em;
  border: solid 1px $color-neutral-light;
  text-align: center;
  cursor: pointer;
  img {
    height: 3em;
    width: 3em;
    object-fit: contain;
  }
  &.selected {
    background-color: $color-brand-primary;
  }
}

.saved {
  color: $color-brand-primary;
  transform: scale(1);
  transition: transform 200ms;
}

.error {
  color: $color-brand-negative;
  transform: scale(0.94);
  transition: transform 200ms;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -1.5em;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: $color-brand-negative;
  }
}

.label { 
  margin: 1em 0;

  select {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: $color-neutral-light;
    font-size: 1.5em;
    padding: 0.2em 0;
    margin-top: 0.2em;
  }
}