@import 'variables';
@import 'colors';

.root {
  height: 100vh;
  background-image: url('../src/assets/img/home.jpg');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}