@import 'colors';
@import 'variables';

.selector {
  border: 0px;
  padding: 0.5rem;
  text-align: center;
  background-color: $color-overlay-disabled;
  width: 5rem;
  margin-bottom: 1rem;
  @include md() {
    width: 6rem;
  }
  &.active {
    background-color: $color-overlay;
    border: solid 1px $color-neutral-dark;
  }
}

.sprite {
  height: 2rem;
  @include md() {
    height: 3rem;
  }
  &.inactive{
    filter: grayscale(1);
  }
}

.healthbar {
  border: solid 1px $color-neutral-dark;
  height: 1rem;
  width: 100%;
  background-color: $color-neutral-light;
}

.health {
  height: 100%;
}

.root {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  &.modal {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;

    .selector {
      margin-right: 1em;
      margin-bottom: 0;
      .sprite {
        height: 3rem;
      }
    }
  }
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.keylabel {
  color: $color-neutral-dark;
  align-self: center;
  margin-bottom: 1em;
  margin-right: 0.5em;
}